<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<title>XXig</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no, email=no">
	<meta name="renderer" content="webkit">
	<meta name="author" content="xxig.hr@qq.com">
	<!-- build:css ../css/base.min.css?rev=@@hash -->
	<link rel="stylesheet" type="text/css" href="../css/base.css?rev=@@hash">
	<!-- endbuild -->
	<script>document.documentElement.style.fontSize=window.screen.width/3.75 + 'px'</script>
</head>
<body>
	<div class="load xycenter"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAS1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADmYDp0AAAAGXRSTlMAM0wFs8uYZhKAGy4oI1pECqF6aVE9rY1zxQdZqwAAAXNJREFUOMuVkduSgyAMQAOhNSKCtbb2/790Q6imLuyOPQ9mRg65ATXeGA9nMAz8A/oRjyKOHqFmMCYcxWDM0EiYz+lTJMM0Uo5GEqg4cBzhj5ReRd9OqCci6r0DWL5Sq4jaST5A2IQRtfuycJ1tMjahlvS6jz19yDFYJuzjskG6Yd2/TzbzfoBghFCNOD2s8JigQFyntTQjWtLZtc8jQ/Z+FcLRDFVpTNZI1XqZ9c/vuV/e3KFBsG8CXHZaot05LZ4v/T2EUIFTrc3uRtVbxy4dVYxP51zV5aNjDH78uLlMX83cZeIIBb86YfVVP0snLASZWbRbAvD9nfb+bCSAEMVM5RFZe8bcyco+goCvvu9yNNJnKXBzs1RNjiFYrtcFqGcGOU5d3G5TCXmkGeDKAEQWX0WYJCgxt0CbSDObCRpQXmWETYTE4kxQM+fRUcU8Tr80EjrmASrC0DNVShllBRWZTsapoPtMR5GinaCNimeQhVf8AF0PDs6aSayDAAAAAElFTkSuQmCC"></div>
	<div class="alert xycenter"></div>
	<div class="wrap" id="app">
		<div class="header">工资<span>计算器</span><a v-show="yes" href="#" class="btn-nav" @touchstart.stop.prevent="btnnav">=</a>
		</div>
		<div class="main">
			<ul v-show="yes" class="tip">
				<h4>基本工资：</h4>
				<li><span>底薪+提成+奖金-请假</span></li>
				<h4>提成系数：</h4>
				<li>日报：<span>0.1</span>&emsp;&emsp;商报：<span>0.14</span>&emsp;&emsp;都市报：<span>0.12</span></li>
			</ul>
			<ul v-show="yes" class="txt">
				<li><span>底 薪 工 资：</span><input type="number" v-model="basesalary" placeholder="请输入底薪" Number/>元</li>
				<li><span>日 报 业 绩：</span><input type="number" v-model="rb" placeholder="--" Number/>元</li>
				<li><span>商 报 业 绩：</span><input type="number" v-model="sb" placeholder="--" Number/>元</li>
				<li><span>都市报业绩：</span><input type="number" v-model="dsb" placeholder="--" Number/>元</li>
				<li><span>请 假 扣 除：</span><input type="number" v-model="qjsalary" placeholder="--" Number/>元</li>
			</ul>
			<ul v-show="no" class="result">
				<h4 class="line">工资=<strong>{{salary|currency '' "2"}}元</strong><br>底薪+提成+奖金-请假</h4>
				<li><span>底 薪 工 资：</span><strong>{{basesalary|currency '' "2"}}元</strong></li>
				<li><span>日 报 业 绩：</span>{{rb|currency '' "2"}}元</li>
				<li><span>--提&emsp;成 ：</span>{{rbsalary|currency '' "2"}}元</li>
				<li><span>商 报 业 绩：</span>{{sb|currency '' "2"}}元</li>
				<li><span>--提&emsp;成 ：</span>{{ sbsalary|currency '' "2"}}元</li>
				<li><span>都市报业绩：</span>{{dsb|currency '' "2"}}元</li>
				<li><span>--提&emsp;成 ：</span>{{dsbsalary|currency '' "2"}}元</li>
				<li><span>--总提成 ：</span><strong>{{sbsalary+rbsalary+dsbsalary|currency '' "2"}}元</strong></li>
				<li><span>--总业绩 ：</span>{{allsalary|currency '' "2"}}元&ensp;/&ensp;奖金：<strong>{{jjsalary|currency '' "2"}}元</strong></li>
				<li><span>请 假 扣 除：</span><strong>{{qjsalary}}元</strong></li>
			</ul>
		</div>
		<footer class="foot">
			<a class="btn-calculate" href="#" @click.stop.prevent="btn">立即计算</a>
		</footer>
		<div class="adide-bg">
			<ul class="adide-box xycenter">
				<a href="#" class="btn-close" @touchstart.stop.prevent="btnclose">&times;</a>
				<h4><span id="num">--</span></h4>
				<li><input type="tel" v-model="password" placeholder="请输入激活码" Number/></li>
				<li><a href="#" class="btn-on" @touchstart.stop.prevent="btnon">激活</a></li>
			</ul>
		</div>
	</div>
	<!-- build:js ../js/main.min.js?rev=@@hash -->
	<!-- <script src="../js/zepto.min.js?rev=@@hash"></script> -->
	<script src="../js/base64.js?rev=@@hash"></script>
	<script src="../js/vue.js?rev=@@hash"></script>
	<script src="../js/style.js?rev=@@hash"></script>
	<!-- endbuild -->
</body>
</html>